
.nav {
	background-color: #24292e;

	padding: 1.2rem 2.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.readme {
	display: inline-block;
	padding-top: 1.6rem;
}

.nav-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3.2rem;
}

.logo {
	font-size: 2.4rem;
	background: linear-gradient(to right top, #83b9ff, #91ffa9);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer {
	font-size: 1.4rem;
	color: rgb(133, 133, 133);
	background-color: #24292e;
	font-weight: 400;

	padding: 1.4rem 3.2rem;
}

/* post */
.figure {
  margin-bottom: 2.4rem;
}

.post {
	display: grid;
	grid-template-columns: 40rem 1fr;
	gap: 3.6rem;
}

.post img {
  object-fit: cover;
}

.post-info {
	padding: 2.4rem;
}


.heading--primary {
	font-size: 3.6rem;
}

.blog-info {
	display: flex;
	align-items: center;
	gap: 3rem;
	width: 100%;
	margin-bottom: 1.6rem;
}

.blog-info img {
	height: 5rem;
	width: 5rem;
}

.blog-info span {
	margin-left: auto;
}

.blog p {
	font-size: 2.4rem;
	line-height: 1.5;
}

.blog ul {
	padding: 3.6rem;
}

.blog li {
	font-size: 1.8rem;
}

.social-share {
	margin-bottom: 2.4rem;
}

.share {
	display: inline-block;
	padding: 0.8rem 3.2rem;
	background-color: #24292e;
}
