@media screen and (max-width: 1200px) {
	html {
		font-size: 56.5%;
	}

	.container {
		width: 80rem;
    transition: all 0.5s;
	}

	.post {
		grid-template-columns: 30rem 1fr;
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 50%;
	}

	.container {
		width: auto;
	}

	.post {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 37.25%;
	}


}

/* this media for 1800+px */
@media screen and (min-width: 1800px) {
	html {
		font-size: 75%;
	}
}
